{% assign archive = 'tags_Bare Daily Wellness,tags_Blog,tags_CBD,tags_CBD Beauty,tags_CBD Lube,tags_Recipes,tags_Cooking,tags_Cosmetics,tags_Health,tags_Sex Health,tags_Skin Care,tags_Summer,tags_Wellness' | split: ',' %}

<div class="tag-and-search-container">
    <div class="article-search-area">
        <input type="search" placeholder="Search articles">
        <button id="submit-article-search">Search</button>
    </div>
    <ul class="tag-list">
      <p style="margin: 0 0 0.5rem 0; font-weight: 600;">Find articles by tag:</p>
        {% for tag in archive %}
            {% assign formatted_tag = tag | remove: 'tags_' %}
            <li class="tag-item">
                <a href="/blogs/all/tagged/{{ tag | handleize }}">{{ formatted_tag }}</a>
            </li>
        {% endfor %}
    </ul>
</div>


<script>
    window.addEventListener('DOMContentLoaded', () => {

        const searchInput = document.querySelector('.article-search-area input[type="search"]')
        const submitButton = document.getElementById('submit-article-search')

        submitButton.addEventListener('click', () => {
            const query = searchInput.value.trim();
            if (query) {
                window.location.href = `/search?q=${encodeURIComponent(query)}`
            }
        });

        searchInput.addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                event.preventDefault();
                submitButton.click();
            }
        });
    })
</script>