<div class="site-search">
  <form role="search" class="search-form" action="/search" method="get">
    <div class="input-group">
      <input type="search" aria-label="Search on the site" name="q" class="search-field form-control" placeholder="Search …">
      <span class="input-group-btn">
        <button type="submit" aria-label="Search" class="search-submit">
          <i class="ion-ios-search-strong form-search-icon"></i>
        </button>
      </span>
    </div>
  </form>
</div>