<form action="/search" method="get" class="search-form" role="search" aria-label="Main site">
  <div class="form-group">
    <input type="hidden" name="type" value="product" />
    <input class="search-input" type="search" name="q" placeholder="" aria-label="Search on the site">
  </div>
</form>