<link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/0124/3594/7616/t/7/assets/settings.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/0124/3594/7616/t/7/assets/font-awesome.min.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/0124/3594/7616/t/7/assets/pe-icon-7-stroke.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C700%2C600%2C800&#038;ver=4.7.3' type='text/css' media='all'>
  <script type='text/javascript' ></script><script type="text/javascript">function setREVStartSize(e){									
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
						}catch(d){console.log("Failure at Presize of Slider:"+d)}						
					};</script>

<div id="rev_slider_2984_4_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER  auto mode -->
	<div id="rev_slider_2984_4" class="rev_slider fullwidthabanner" style="display:none;" data-version="">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-8905" data-transition="boxfade,boxslide,slotfade-horizontal" data-slotamount="default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default" data-easeout="default,default,default" data-masterspeed="default,default,default"  data-thumb=""  data-rotate="0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://cdn.shopify.com/s/files/1/0056/8711/5885/t/10/assets/transparent.png" data-bgcolor='#ddcfbd' style='background:#ddcfbd' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption     rev_group" 
			 id="slide-8905-layer-5" 
			 data-x="['left','left','right','left']" data-hoffset="['239','70','450','70']" 
			 data-y="['top','top','top','top']" data-voffset="['758','623','826','885']" 
						data-width="['287','172','258','172']"
			data-height="['49','47','41','47']"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
 
			data-type="group" 
			data-responsive_offset="on" 

			data-frames='[{"delay":790,"speed":1340,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','right','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6; min-width: 287px; max-width: 287px; max-width: 49px; max-width: 49px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8905-layer-15" 
			 data-x="['left','left','right','right']" data-hoffset="['0','0','16','16']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','10','10']" 
						data-fontsize="['20','20','17','17']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":"+0","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','right','right']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 18px; font-weight: 600; color: #000000; letter-spacing: 0px;font-family:Eina03;text-transform:uppercase;">CBD Lube </div>
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption     rev_group" 
			 id="slide-8905-layer-3" 
			 data-x="['left','left','left','left']" data-hoffset="['236','70','78','42']" 
			 data-y="['top','top','top','top']" data-voffset="['195','135','54','52']" 
						data-width="['167','135','135','135']"
			data-height="['40','38','38','38']"
			data-whitespace="nowrap"
 
			data-type="group" 
			data-responsive_offset="on" 

			data-frames='[{"delay":210,"speed":1030,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8; min-width: 167px; max-width: 167px; max-width: 40px; max-width: 40px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;border-color:rgba(0, 0, 0, 0);border-style:solid;border-width:0px 0px 0px 1px;">
		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8905-layer-6" 
			 data-x="['left','left','left','left']" data-hoffset="['19','186','6','10']" 
			 data-y="['top','top','top','top']" data-voffset="['5','49','6','7']" 
						data-width="144"
			data-height="none"
			data-whitespace="normal"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":"+0","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9; min-width: 144px; max-width: 144px; white-space: normal; font-size: 20px; line-height: 25px; font-weight: 600; color: #000000; letter-spacing: px;font-family:Eina03;text-transform:uppercase;">TOPICALS </div>
		</div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption     rev_group" 
			 id="slide-8905-layer-4" 
			 data-x="['left','left','left','left']" data-hoffset="['233','70','78','38']" 
			 data-y="['top','top','top','top']" data-voffset="['264','258','135','117']" 
						data-width="['616','574','631','420']"
			data-height="['220','118','152','105']"
			data-whitespace="nowrap"
 
			data-type="group" 
			data-responsive_offset="on" 

			data-frames='[{"delay":510,"speed":1430,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 10; min-width: 616px; max-width: 616px; max-width: 220px; max-width: 220px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Arial;">
		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8905-layer-8" 
			 data-x="['left','left','left','left']" data-hoffset="['4','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['10','0','0','0']" 
						data-fontsize="['74','70','70','48']"
			data-lineheight="['90','70','70','60']"
			data-letterspacing="['10','15','15','5']"
			data-width="['none','567','567','312']"
			data-height="['none','71','71','72']"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":"+490","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 11; white-space: nowrap; font-size: 74px; line-height: 90px; font-weight: 700; color: #000000; letter-spacing: 10px;font-family:Eina03;text-transform:uppercase;">THE HYPE<br>IS REAL </div>
		</div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption rev-btn " 
			 id="slide-8905-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['238','70','81','40']" 
			 data-y="['top','top','top','top']" data-voffset="['558','401','754','643']" 
						data-fontsize="['16','16','14','15']"
			data-lineheight="['55','55','44','30']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="button" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"https:\/\/kush-queen-shop.myshopify.com\/products\/ignite-cbd-lube\/","delay":""}]'
			data-responsive_offset="on" 
			data-responsive="off"
			data-frames='[{"delay":630,"speed":1180,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"y:[100%];rZ:0deg;sX:0.7;sY:0.7;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(0,0,0);bc:rgb(0,0,0);"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[50,50,50,25]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[50,50,50,25]"

			style="z-index: 5; white-space: nowrap; font-size: 16px; line-height: 55px; font-weight: 700; color: #000000; letter-spacing: 2px;font-family:Eina03;border-color:rgba(0,0,0,1);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Shop Now </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8905-layer-10" 
			 data-x="['left','left','left','left']" data-hoffset="['300','300','137','107']" 
			 data-y="['top','top','top','top']" data-voffset="['504','504','318','262']" 
						data-width="147"
			data-height="27"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1000,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 12; min-width: 147px; max-width: 147px; max-width: 27px; max-width: 27px; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 600; color: #000000; letter-spacing: 0px;font-family:Eina03;">$49.99 </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8905-layer-11" 
			 data-x="['left','left','left','left']" data-hoffset="['244','244','83','44']" 
			 data-y="['top','top','top','top']" data-voffset="['508','508','321','265']" 
						data-fontsize="['12','12','12','16']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1000,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 13; white-space: nowrap; font-size: 12px; line-height: 18px; font-weight: 400; color: #000000; letter-spacing: 1px;font-family:Eina03;text-transform:uppercase;">From </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8905-layer-35" 
			 data-x="['left','left','left','left']" data-hoffset="['862','310','310','310']" 
			 data-y="['top','top','top','top']" data-voffset="['111','-256','-256','-256']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":510,"speed":2200,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 14;"><img src="https://cdn.shopify.com/s/files/1/0124/3594/7616/t/3/assets/ignitelube-slider-photo_5.png" alt="" data-ww="['631px','631px','631px','631px']" data-hh="['666px','666px','666px','666px']" data-no-retina> </div>

		<!-- LAYER NR. 11 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8905-layer-36" 
			 data-x="['left','left','left','left']" data-hoffset="['236','236','236','77']" 
			 data-y="['top','top','top','top']" data-voffset="['-117','-117','-117','296']" 
						data-fontweight="['500','500','500','400']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','on','on']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":510,"speed":2200,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 15;"><img src="https://cdn.shopify.com/s/files/1/0124/3594/7616/t/3/assets/ignitelube-slider-photo.png" alt="" data-ww="['313px','313px','313px','313px']" data-hh="['330px','330px','330px','330px']" data-no-retina> </div>
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-8906" data-transition="boxfade,boxslide,slotfade-horizontal" data-slotamount="default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default" data-easeout="default,default,default" data-masterspeed="default,default,default"  data-thumb=""  data-rotate="0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://cdn.shopify.com/s/files/1/0056/8711/5885/t/10/assets/transparent.png" data-bgcolor='#ed989b' style='background:#ed989b' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 12 -->
		<div class="tp-caption     rev_group" 
			 id="slide-8906-layer-3" 
			 data-x="['left','left','left','left']" data-hoffset="['239','70','84','45']" 
			 data-y="['top','top','top','top']" data-voffset="['195','135','77','49']" 
						data-width="['158','135','174','162']"
			data-height="['47','38','40','37']"
			data-whitespace="nowrap"
 
			data-type="group" 
			data-responsive_offset="on" 

			data-frames='[{"delay":210,"speed":1030,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; min-width: 158px; max-width: 158px; max-width: 47px; max-width: 47px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;border-color:rgba(0, 0, 0, 0);border-style:solid;border-width:0px 0px 0px 1px;">
		<!-- LAYER NR. 13 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8906-layer-6" 
			 data-x="['left','left','left','left']" data-hoffset="['7','176','176','7']" 
			 data-y="['top','top','top','middle']" data-voffset="['10','70','-371','-1']" 
						data-lineheight="['25','25','25','22']"
			data-width="['150','150','150','151']"
			data-height="['52','52','52','none']"
			data-whitespace="normal"
			data-visibility="['on','on','off','on']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":"+0","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6; min-width: 150px; max-width: 150px; max-width: 52px; max-width: 52px; white-space: normal; font-size: 20px; line-height: 25px; font-weight: 600; color: #000000; letter-spacing: px;font-family:Eina03;text-transform:uppercase;">INGESTIBLES </div>

		<!-- LAYER NR. 14 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8906-layer-31" 
			 data-x="['left','left','left','left']" data-hoffset="['-147','22','8','47']" 
			 data-y="['top','top','top','middle']" data-voffset="['-112','-52','6','34']" 
						data-lineheight="['25','25','25','22']"
			data-width="['150','150','150','151']"
			data-height="['52','52','52','none']"
			data-whitespace="normal"
			data-visibility="['off','off','on','off']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":"+0","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7; min-width: 150px; max-width: 150px; max-width: 52px; max-width: 52px; white-space: normal; font-size: 20px; line-height: 25px; font-weight: 600; color: #000000; letter-spacing: px;font-family:Eina03;text-transform:uppercase;">INGESTIBLES </div>
		</div>

		<!-- LAYER NR. 15 -->
		<div class="tp-caption     rev_group" 
			 id="slide-8906-layer-5" 
			 data-x="['left','left','right','left']" data-hoffset="['239','70','516','70']" 
			 data-y="['top','top','top','top']" data-voffset="['759','623','859','885']" 
						data-width="['230','172','195','172']"
			data-height="['70','47','49','47']"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
 
			data-type="group" 
			data-responsive_offset="on" 

			data-frames='[{"delay":790,"speed":1340,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','right','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9; min-width: 230px; max-width: 230px; max-width: 70px; max-width: 70px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
		<!-- LAYER NR. 16 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8906-layer-15" 
			 data-x="['left','left','right','right']" data-hoffset="['0','169','18','169']" 
			 data-y="['top','top','bottom','bottom']" data-voffset="['16','152','15','-110']" 
						data-fontsize="['20','20','17','17']"
			data-lineheight="['25','25','18','18']"
			data-width="['296','296','none','none']"
			data-height="['61','61','none','none']"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":"+0","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','right','right']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 10; min-width: 296px; max-width: 296px; max-width: 61px; max-width: 61px; white-space: nowrap; font-size: 20px; line-height: 25px; font-weight: 600; color: #000000; letter-spacing: 0px;font-family:Eina03;text-transform:uppercase;">CBD SUPPLEMENTS </div>
		</div>

		<!-- LAYER NR. 17 -->
		<div class="tp-caption     rev_group" 
			 id="slide-8906-layer-4" 
			 data-x="['left','left','left','left']" data-hoffset="['237','70','84','46']" 
			 data-y="['top','top','top','top']" data-voffset="['290','257','152','112']" 
						data-width="['596','594','637','377']"
			data-height="['199','106','130','121']"
			data-whitespace="nowrap"
 
			data-type="group" 
			data-responsive_offset="on" 

			data-frames='[{"delay":510,"speed":1430,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 12; min-width: 596px; max-width: 596px; max-width: 199px; max-width: 199px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Arial;">
		<!-- LAYER NR. 18 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8906-layer-8" 
			 data-x="['left','left','left','left']" data-hoffset="['-1','-1','-1','-1']" 
			 data-y="['top','top','top','top']" data-voffset="['-1','-1','-1','-1']" 
						data-fontsize="['74','64','60','48']"
			data-lineheight="['90','64','60','60']"
			data-letterspacing="['10','10','10','5']"
			data-width="['599','none','none','none']"
			data-height="['198','none','none','none']"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":"+490","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 13; min-width: 599px; max-width: 599px; max-width: 198px; max-width: 198px; white-space: nowrap; font-size: 74px; line-height: 90px; font-weight: 700; color: #000000; letter-spacing: 10px;font-family:Eina03;text-transform:uppercase;">FEEL<br>THE DOSE </div>
		</div>

		<!-- LAYER NR. 19 -->
		<div class="tp-caption rev-btn " 
			 id="slide-8906-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['241','70','68','51']" 
			 data-y="['top','top','top','top']" data-voffset="['562','401','796','637']" 
						data-fontsize="['16','16','14','15']"
			data-lineheight="['55','55','44','30']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="button" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"https:\/\/kush-queen-shop.myshopify.com\/collections\/ingestibles\/","delay":""}]'
			data-responsive_offset="on" 
			data-responsive="off"
			data-frames='[{"delay":630,"speed":1180,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"y:[100%];rZ:0deg;sX:0.7;sY:0.7;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(0,0,0);bc:rgb(0,0,0);"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[50,50,50,25]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[50,50,50,25]"

			style="z-index: 8; white-space: nowrap; font-size: 16px; line-height: 55px; font-weight: 700; color: #000000; letter-spacing: 2px;font-family:Eina03;border-color:rgba(0,0,0,1);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Shop Now </div>

		<!-- LAYER NR. 20 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8906-layer-25" 
			 data-x="['left','left','left','left']" data-hoffset="['455','-1582','-1582','-1582']" 
			 data-y="['top','top','top','top']" data-voffset="['-114','-1044','-1044','-1044']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":550,"speed":1500,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 11;"><img src="https://cdn.shopify.com/s/files/1/0124/3594/7616/t/3/assets/gummiesrx350mg-final.png" alt="" data-ww="['1467px','1467px','1467px','1467px']" data-hh="['978px','978px','978px','978px']" data-no-retina> </div>

		<!-- LAYER NR. 21 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8906-layer-10" 
			 data-x="['left','left','left','left']" data-hoffset="['298','298','152','112']" 
			 data-y="['top','top','top','top']" data-voffset="['509','509','318','253']" 
						data-width="147"
			data-height="27"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1000,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 14; min-width: 147px; max-width: 147px; max-width: 27px; max-width: 27px; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 600; color: #000000; letter-spacing: 0px;font-family:Eina03;">$35.99 </div>

		<!-- LAYER NR. 22 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8906-layer-11" 
			 data-x="['left','left','left','left']" data-hoffset="['245','245','93','51']" 
			 data-y="['top','top','top','top']" data-voffset="['513','513','322','254']" 
						data-fontsize="['12','12','12','16']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1000,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 15; white-space: nowrap; font-size: 12px; line-height: 18px; font-weight: 400; color: #000000; letter-spacing: 1px;font-family:Eina03;text-transform:uppercase;">From </div>

		<!-- LAYER NR. 23 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8906-layer-29" 
			 data-x="['left','left','left','left']" data-hoffset="['73','73','188','73']" 
			 data-y="['top','top','top','top']" data-voffset="['275','275','347','275']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','on','on']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":1500,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 16;"><img src="https://cdn.shopify.com/s/files/1/0124/3594/7616/t/3/assets/gummiesrx350mg-final-e1560870101156_5.png" alt="" data-ww="['445px','445px','445px','360px']" data-hh="['445px','445px','445px','360px']" data-no-retina> </div>
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-8907" data-transition="boxfade,boxslide,slotfade-horizontal" data-slotamount="default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default" data-easeout="default,default,default" data-masterspeed="default,default,default"  data-thumb=""  data-rotate="0,0,0"  data-saveperformance="off"  data-title="Bath Bomb" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://cdn.shopify.com/s/files/1/0056/8711/5885/t/10/assets/transparent.png" data-bgcolor='#8ebbce' style='background:#8ebbce' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 24 -->
		<div class="tp-caption     rev_group" 
			 id="slide-8907-layer-3" 
			 data-x="['left','left','left','left']" data-hoffset="['237','70','71','44']" 
			 data-y="['top','top','top','top']" data-voffset="['179','135','55','43']" 
						data-width="['160','135','134','175']"
			data-height="['74','38','64','75']"
			data-whitespace="nowrap"
 
			data-type="group" 
			data-responsive_offset="on" 

			data-frames='[{"delay":210,"speed":1020,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6; min-width: 160px; max-width: 160px; max-width: 74px; max-width: 74px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Arial;border-color:rgba(0, 0, 0, 0);border-style:solid;border-width:0px 0px 0px 1px;">
		<!-- LAYER NR. 25 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8907-layer-20" 
			 data-x="['left','left','left','left']" data-hoffset="['16','-10','10','14']" 
			 data-y="['top','top','top','top']" data-voffset="['11','-91','6','10']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":"+0","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 25px; font-weight: 600; color: #000000; letter-spacing: 0px;font-family:Eina03;">BATH<br>BOMBS </div>
		</div>

		<!-- LAYER NR. 26 -->
		<div class="tp-caption     rev_group" 
			 id="slide-8907-layer-4" 
			 data-x="['left','left','left','left']" data-hoffset="['235','69','66','45']" 
			 data-y="['top','top','top','top']" data-voffset="['293','259','164','157']" 
						data-width="['609','608','597','427']"
			data-height="['170','120','148','125']"
			data-whitespace="nowrap"
 
			data-type="group" 
			data-responsive_offset="on" 

			data-frames='[{"delay":510,"speed":1420,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8; min-width: 609px; max-width: 609px; max-width: 170px; max-width: 170px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Arial;">
		<!-- LAYER NR. 27 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8907-layer-8" 
			 data-x="['left','left','left','left']" data-hoffset="['1','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['-3','0','0','0']" 
						data-fontsize="['74','70','60','48']"
			data-lineheight="['90','70','70','60']"
			data-letterspacing="['15','15','10','5']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":"+490","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9; white-space: nowrap; font-size: 74px; line-height: 90px; font-weight: 700; color: #000000; letter-spacing: 15px;font-family:Eina03;text-transform:uppercase;">NEXT LEVEL<br>SELF CARE </div>
		</div>

		<!-- LAYER NR. 28 -->
		<div class="tp-caption     rev_group" 
			 id="slide-8907-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['239','70','65','70']" 
			 data-y="['top','top','top','top']" data-voffset="['758','623','803','885']" 
						data-width="['189','172','191','172']"
			data-height="['47','47','46','47']"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
 
			data-type="group" 
			data-responsive_offset="on" 

			data-frames='[{"delay":790,"speed":1340,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 11; min-width: 189px; max-width: 189px; max-width: 47px; max-width: 47px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
		<!-- LAYER NR. 29 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8907-layer-15" 
			 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":"+0","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 12; white-space: nowrap; font-size: 20px; line-height: 18px; font-weight: 600; color: #000000; letter-spacing: 0px;font-family:Eina03;text-transform:uppercase;">CBD Bath Bombs </div>
		</div>

		<!-- LAYER NR. 30 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8907-layer-17" 
			 data-x="['left','left','left','left']" data-hoffset="['769','769','769','769']" 
			 data-y="['top','top','top','top']" data-voffset="['216','216','216','216']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":200,"speed":1400,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/0124/3594/7616/t/3/assets/awaken1-2.png" alt="" data-ww="['858px','858px','858px','858px']" data-hh="['464px','464px','464px','464px']" data-no-retina> </div>

		<!-- LAYER NR. 31 -->
		<div class="tp-caption rev-btn " 
			 id="slide-8907-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['240','70','66','44']" 
			 data-y="['top','top','top','top']" data-voffset="['560','401','734','630']" 
						data-fontsize="['16','16','14','15']"
			data-lineheight="['55','55','44','30']"
			data-width="['none','none','none','143']"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="button" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"https:\/\/kush-queen-shop.myshopify.com\/collections\/cbd-bath-bombs\/","delay":""}]'
			data-responsive_offset="on" 
			data-responsive="off"
			data-frames='[{"delay":630,"speed":1170,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"y:[100%];rZ:0deg;sX:0.7;sY:0.7;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(0,0,0);bc:rgb(0,0,0);"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[50,50,50,25]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[50,50,50,25]"

			style="z-index: 10; white-space: nowrap; font-size: 16px; line-height: 55px; font-weight: 700; color: #000000; letter-spacing: 2px;font-family:Eina03;border-color:rgba(0,0,0,1);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Shop Now </div>

		<!-- LAYER NR. 32 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8907-layer-11" 
			 data-x="['left','left','left','left']" data-hoffset="['243','243','70','48']" 
			 data-y="['top','top','top','top']" data-voffset="['508','508','359','312']" 
						data-fontsize="['12','12','12','16']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1000,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 13; white-space: nowrap; font-size: 12px; line-height: 18px; font-weight: 400; color: #000000; letter-spacing: 1px;font-family:Eina03;text-transform:uppercase;">From </div>

		<!-- LAYER NR. 33 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8907-layer-10" 
			 data-x="['left','left','left','left']" data-hoffset="['296','296','127','109']" 
			 data-y="['top','top','top','top']" data-voffset="['507','507','357','310']" 
						data-width="147"
			data-height="27"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1000,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 14; min-width: 147px; max-width: 147px; max-width: 27px; max-width: 27px; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 600; color: #000000; letter-spacing: 0px;font-family:Eina03;">$12.99 </div>

		<!-- LAYER NR. 34 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-8907-layer-19" 
			 data-x="['left','left','left','left']" data-hoffset="['-463','-463','106','39']" 
			 data-y="['top','top','top','top']" data-voffset="['-62','-62','389','378']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','on','on']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":200,"speed":1400,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 15;"><img src="https://cdn.shopify.com/s/files/1/0124/3594/7616/t/3/assets/awaken1-2_2.png" alt="" data-ww="['549px','549px','549px','407px']" data-hh="['297px','297px','297px','220px']" data-no-retina> </div>
	</li>
</ul>
<div style="" class="tp-static-layers">
</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
						if(htmlDiv) {
							htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
						}else{
							var htmlDiv = document.createElement("div");
							htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
							document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
						}
					</script>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
 
                <script type="text/javascript"> 
                      
                    function revslider_showDoubleJqueryError(sliderID) {
				var errorMessage = "Revolution Slider Error: You have some jquery.js issue in your site";
				errorMessage += "<br>Don't worry, Contact to the support team <a target='_blank' href='https://shopify.smartdatasoft.com/'>https://shopify.smartdatasoft.com/</a>. Little edit should solve the problem easily."; 
                                
				errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
					jQuery(sliderID).show().html(errorMessage);
			}
                        
                       document.addEventListener("DOMContentLoaded", function(event) { 
                        
                    
						if (setREVStartSize!==undefined) setREVStartSize(
	{c: '#rev_slider_2984_4', responsiveLevels: [1240,1024,778,480], gridwidth: [1710,1024,778,480], gridheight: [860,768,960,720], sliderLayout: 'auto'});

			
						var tpj=jQuery;
                        
			 
			                                  //  tpj.noConflict();
                                        
			window.revapi2984;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_2984_4").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_2984_4");
				}else{
					revapi2984 = tpj("#rev_slider_2984_4").show().revolution({
						sliderType:"standard",
 data_rev:"fab65db282b102b2464ffd0a290d425b", data_slider_id:"rev_slider_2984_4",jsFileLocation:"https://cdn.shopify.com/s/files/1/0056/8711/5885/t/10/assets/",
						sliderLayout:"auto",
						dottedOverlay:"none",
						delay:5000,
						navigation: {
							keyboardNavigation:"off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
							onHoverStop:"off",
							arrows: {
								style:"auros_2",
								enable:true,
								hide_onmobile:true,
								hide_under:650,
								hide_onleave:false,
								tmp:'',
								left: {
									h_align:"right",
									v_align:"bottom",
									h_offset:91,
									v_offset:0
								},
								right: {
									h_align:"right",
									v_align:"bottom",
									h_offset:0,
									v_offset:0
								}
							}
						},
						responsiveLevels:[1240,1024,778,480],
						visibilityLevels:[1240,1024,778,480],
						gridwidth:[1710,1024,778,480],
						gridheight:[860,768,960,720],
						lazyType:"none",
						shadow:0,
						spinner:"off",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});
var api = revapi2984,
	divider = ' / ',
    totalSlides,
    numberText;

api.one('revolution.slide.onloaded', function() {
    
	totalSlides = api.revmaxslide();
	numberText = api.find('.slide-status-numbers').text('1' + divider + totalSlides);

    api.on('revolution.slide.onbeforeswap', function(e, data) {

        numberText.text((data.nextslide.index() + 1) + divider + totalSlides);
    
    });
    
});				}
			});	/*ready*/
 
                                 
                                 });
                                 
		</script>
               
		<script>
					var htmlDivCss = unescape("%40media%20%28min-width%3A%201700px%29%7B%0A%20%20.tp-static-layers%20.tp-parallax-wrap%20%7B%20%20%20%20%20%20%20%0A%20%20%20%20left%3A%201600px%21important%3B%0A%20%20%7D%0A%20%20%0A%7D%0A%0A%40media%20%28min-width%3A%201780px%29%7B%0A%20%20.tp-static-layers%20.tp-parallax-wrap%20%7B%20%20%20%20%20%20%20%0A%20%20%20%20left%3A%201670px%21important%3B%0A%20%20%7D%0A%20%20%0A%7D%0A%40media%20%28min-width%3A%201830px%29%7B%0A%20%20.tp-static-layers%20.tp-parallax-wrap%20%7B%20%20%20%20%20%20%20%0A%20%20%20%20left%3A%201700px%21important%3B%0A%20%20%7D%0A%20%20%0A%7D");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}
					else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				  </script><script>
					var htmlDivCss = unescape("%23rev_slider_2984_4%20.auros_2.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%09width%3A90px%3B%0A%09height%3Acalc%2890px%20-%2010px%29%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%7D%0A%23rev_slider_2984_4%20.auros_2.tparrows%3Ahover%3Abefore%20%7B%0A%09color%3A%20rgb%280%2C%200%2C%200%2C%201%29%3B%0A%7D%0A%23rev_slider_2984_4%20.auros_2.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A34px%3B%0A%09color%3A%20rgb%28255%2C%20255%2C%20255%2C%200.2%29%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%20calc%2890px%20-%2010px%29%3B%0A%09text-align%3A%20center%3B%0A%7D%0A%23rev_slider_2984_4%20.auros_2.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce824%22%3B%0A%7D%0A%23rev_slider_2984_4%20.auros_2.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce825%0A%22%3B%0A%7D%0A%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}
					else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				  </script>
				</div><!-- END REVOLUTION SLIDER --><script type='text/javascript'></script>