<link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/0124/3594/7616/t/7/assets/settings.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/0124/3594/7616/t/7/assets/font-awesome.min.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/0124/3594/7616/t/7/assets/pe-icon-7-stroke.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C700%2C600%2C800&#038;ver=4.7.3' type='text/css' media='all'>
  <script type='text/javascript' ></script><script type="text/javascript">function setREVStartSize(e){									
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
						}catch(d){console.log("Failure at Presize of Slider:"+d)}						
					};</script>

<div id="rev_slider_2976_3_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER  auto mode -->
	<div id="rev_slider_2976_3" class="rev_slider fullwidthabanner" style="display:none;" data-version="">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-8881" data-transition="slotfade-horizontal,fadefromtop,fadefromleft,fadefromright,fadefrombottom" data-slotamount="default,default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default,default" data-easeout="default,default,default,default,default" data-masterspeed="default,default,default,default,default"   data-rotate="0,0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		{% comment %}
		
		was 404ing / co

		<img src="https://cdn.shopify.com/s/files/1/0124/3594/7616/t/3/assets/Kush-Queen-Holiday-Bare_1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		
		{% endcomment %}
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption     rev_group rs-parallaxlevel-2" 
			 id="slide-8881-layer-3" 
			 data-x="['left','left','left','left']" data-hoffset="['1111','537','73','56']" 
			 data-y="['top','top','top','top']" data-voffset="['119','146','68','51']" 
						data-width="['134','135','133','134']"
			data-height="['63','38','59','51']"
			data-whitespace="nowrap"
 
			data-type="group" 
			data-responsive_offset="on" 

			data-frames='[{"delay":159.9609375,"speed":1010,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; min-width: 134px; max-width: 134px; max-width: 63px; max-width: 63px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;border-color:rgba(255, 255, 255, 0);border-style:solid;border-width:0px 0px 0px 1px;">
		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
			 id="slide-8881-layer-6" 
			 data-x="['left','left','left','left']" data-hoffset="['9','-454','10','11']" 
			 data-y="['middle','middle','top','middle']" data-voffset="['-1','-61','3','0']" 
						data-lineheight="['25','25','25','20']"
			data-width="100"
			data-height="none"
			data-whitespace="normal"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":"+300","speed":660,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-margintop="[0,0,0,0]"
			data-marginright="[0,0,0,0]"
			data-marginbottom="[0,0,0,0]"
			data-marginleft="[0,0,0,0]"
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6; min-width: 100px; max-width: 100px; white-space: normal; font-size: 20px; line-height: 25px; font-weight: 600; color: #ffffff; letter-spacing: px;font-family:Eina03;text-transform:uppercase;"> </div>
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-8" 
			 id="slide-8881-layer-17" 
			 data-x="['left','left','left','right']" data-hoffset="['1170','1170','232','99']" 
			 data-y="['top','top','top','top']" data-voffset="['290','290','259','241']" 
						data-fontsize="['110','110','110','85']"
			data-lineheight="['110','110','110','95']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":739.84375,"speed":1010,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7; white-space: nowrap; font-size: 110px; line-height: 110px; font-weight: 700; color: #ffffff; letter-spacing: 15px;font-family:Eina03;">KUSH </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-8" 
			 id="slide-8881-layer-16" 
			 data-x="['left','left','left','left']" data-hoffset="['1170','1170','1170','160']" 
			 data-y="['top','top','top','top']" data-voffset="['225','225','225','139']" 
						data-fontsize="['42','42','42','32']"
			data-lineheight="['44','44','44','34']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1009.9609375,"speed":1340,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8; white-space: nowrap; font-size: 42px; line-height: 44px; font-weight: 200; color: #ffffff; letter-spacing: 0px;font-family:Eina03;"><i>OUR </i> </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-8" 
			 id="slide-8881-layer-20" 
			 data-x="['left','left','left','left']" data-hoffset="['1182','1182','159','244']" 
			 data-y="['top','top','top','top']" data-voffset="['215','215','180','126']" 
						data-fontsize="['42','42','42','32']"
			data-lineheight="['44','44','44','34']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1009.9609375,"speed":1340,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 10; white-space: nowrap; font-size: 42px; line-height: 44px; font-weight: 200; color: #ffffff; letter-spacing: 0px;font-family:Eina03;"><i>OUR PROMISE</i> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-8" 
			 id="slide-8881-layer-22" 
			 data-x="['left','left','left','right']" data-hoffset="['1112','1112','176','43']" 
			 data-y="['top','top','top','top']" data-voffset="['401','401','370','336']" 
						data-fontsize="['110','110','110','85']"
			data-lineheight="['110','110','110','95']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":739.84375,"speed":1010,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 11; white-space: nowrap; font-size: 110px; line-height: 110px; font-weight: 700; color: #ffffff; letter-spacing: 15px;font-family:Eina03;">QUEEN </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-8" 
			 id="slide-8881-layer-24" 
			 data-x="['left','left','left','left']" data-hoffset="['1167','1167','1167','138']" 
			 data-y="['top','top','top','top']" data-voffset="['226','226','226','175']" 
						data-fontsize="['42','42','42','32']"
			data-lineheight="['44','44','44','34']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1009.9609375,"speed":1340,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 12; white-space: nowrap; font-size: 42px; line-height: 44px; font-weight: 200; color: #ffffff; letter-spacing: 0px;font-family:Eina03;"><i>PROMISE</i> </div>
	</li>
</ul>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
						if(htmlDiv) {
							htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
						}else{
							var htmlDiv = document.createElement("div");
							htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
							document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
						}
					</script>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
 
                <script type="text/javascript"> 
                      
                    function revslider_showDoubleJqueryError(sliderID) {
				var errorMessage = "Revolution Slider Error: You have some jquery.js issue in your site";
				errorMessage += "<br>Don't worry, Contact to the support team <a target='_blank' href='https://shopify.smartdatasoft.com/'>https://shopify.smartdatasoft.com/</a>. Little edit should solve the problem easily."; 
                                
				errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
					jQuery(sliderID).show().html(errorMessage);
			}
                        
                       document.addEventListener("DOMContentLoaded", function(event) { 
                        
                    
						if (setREVStartSize!==undefined) setREVStartSize(
	{c: '#rev_slider_2976_3', responsiveLevels: [1240,1024,778,480], gridwidth: [1710,1024,778,480], gridheight: [760,768,700,600], sliderLayout: 'auto'});

			
						var tpj=jQuery;
                        
			 
			
			window.revapi2976;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_2976_3").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_2976_3");
				}else{
					revapi2976 = tpj("#rev_slider_2976_3").show().revolution({
						sliderType:"standard",
 data_rev:"fab65db282b102b2464ffd0a290d425b", data_slider_id:"rev_slider_2976_3",jsFileLocation:"https://cdn.shopify.com/s/files/1/0056/8711/5885/t/10/assets/",
						sliderLayout:"auto",
						dottedOverlay:"none",
						delay:4500,
						navigation: {
							keyboardNavigation:"off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
							onHoverStop:"off",
							arrows: {
								style:"auros_2",
								enable:true,
								hide_onmobile:true,
								hide_under:650,
								hide_onleave:false,
								tmp:'',
								left: {
									h_align:"right",
									v_align:"bottom",
									h_offset:91,
									v_offset:0
								},
								right: {
									h_align:"right",
									v_align:"bottom",
									h_offset:0,
									v_offset:0
								}
							}
						},
						responsiveLevels:[1240,1024,778,480],
						visibilityLevels:[1240,1024,778,480],
						gridwidth:[1710,1024,778,480],
						gridheight:[760,768,700,600],
						lazyType:"none",
						parallax: {
							type:"mouse",
							origo:"enterpoint",
							speed:400,
				speedbg:0,
				speedls:0,
				levels:[-2,-1,0,1,2,3,4,5,6,7,8,9,10,11,12,55],
							disable_onmobile:"on"
						},
						shadow:0,
						spinner:"off",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});
				}
			});	/*ready*/
 
                                 
                                 });
                                 
		</script>
               
		<script>
					var htmlDivCss = unescape("%23rev_slider_2976_3%20.auros_2.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%09width%3A90px%3B%0A%09height%3Acalc%2890px%20-%2010px%29%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%7D%0A%23rev_slider_2976_3%20.auros_2.tparrows%3Ahover%3Abefore%20%7B%0A%09color%3A%20rgb%280%2C%200%2C%200%2C%201%29%3B%0A%7D%0A%23rev_slider_2976_3%20.auros_2.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A34px%3B%0A%09color%3A%20rgb%28255%2C%20255%2C%20255%2C%200.2%29%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%20calc%2890px%20-%2010px%29%3B%0A%09text-align%3A%20center%3B%0A%7D%0A%23rev_slider_2976_3%20.auros_2.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce824%22%3B%0A%7D%0A%23rev_slider_2976_3%20.auros_2.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce825%0A%22%3B%0A%7D%0A%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}
					else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				  </script>
				</div><!-- END REVOLUTION SLIDER --><script type='text/javascript'></script>