<div class="collection-header page-width-2">
    {% if section.settings.enable_breadcrumb %}
        {% render 'breadcrumb' %}
    {% endif %}
    {% if collection.description != blank %}
        {% unless collection.metafields.custom.disable_plp_auto_description %}
            <div class="rte text-center">
            {{ collection.description }}
            </div>
        {% endunless %}
    {% endif %}
</div>


{% schema %}
{
    "name": "Collection header",
    "settings": [
        {
            "type":"checkbox",
            "id": "enable_breadcrumb",
            "label": "enable breadcrumb",
            "default": true
        }    
    ],
    "presets": [
        {
            "name": "Collection Header"
        }
    ]
}
{% endschema %}