<div class="page-width">
  <div class="best-cbd-main-wrapper" style="background-color:{{section.settings.cbd_bg_clr}}">
    <div class="best-cbd-content-wrap">
      {% if section.settings.testi_cnt != blank %}
      <div class="cbd-testi-cnt-wrap">
        {{section.settings.testi_cnt}}
      </div>
      {% endif %}
      {% if section.settings.testi_nm != blank %}
      <div class="cbd-testi-nm-wrap">
        {{section.settings.testi_nm}}
      </div>
      {% endif %}
      {% if section.settings.testi_des != blank %}
      <div class="cbd-testi-des-wrap">
        {{section.settings.testi_des}}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
"name": "Best CBD",
"settings": [
{
"type": "color",
"id": "cbd_bg_clr",
"label": "Background color"
},
{
"id":"testi_cnt",
"type":"text",
"label":"Content"
},
{
"id":"testi_nm",
"type":"text",
"label":"Name"
},
{
"id":"testi_des",
"type":"text",
"label":"Designation"
}
],
"presets":[
{
"name": "Best CBD",
"category":"Text"
}
]
}
{% endschema %}