{% style %}

{% endstyle %}

<div data-section-id="{{ section.id }}">
    <div class="page-width">
        <div class="updated-blog-header">
            {% render 'blog-search-and-articles' %}
            {% render 'updated-article-head' %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "JR Article Header",
  "settings": [],
  "blocks": [],
  "presets": [
    {
        "name": "JR Article Header"
    }
  ]
}
{% endschema %}