{% schema %}
{
  "name": "Logos Offer",
  "tag": "section",
  "class": "featured-logos-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "FEATURED IN"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Offer Logos",
      "blocks": [
        { "type": "logo" },
        { "type": "logo" },
        { "type": "logo" },
        { "type": "logo" },
        { "type": "logo" }
      ]
    }
  ]
}
{% endschema %}

<div class="page-width stack_width_custom">
  <div class="featured-logos-wrapper">
    <h2 class="featured-logos-heading">{{ section.settings.heading }}</h2>
    <div class="featured-logos-list">
      {% for block in section.blocks %}
        {% if block.settings.logo %}
          <div class="featured-logo">
            <img src="{{ block.settings.logo | image_url: width: 200 }}" alt="Logo" loading="lazy">
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  .featured-logos-wrapper {
    padding: 15px 0px;
    text-align: center;
        display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .stack_width_custom {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .featured-logos-heading {
    letter-spacing: 1px;
    line-height: normal;
    margin-bottom: 0px;
    font-family: 'Room205';
    font-size: 42px;
  }

  .featured-logos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px;
  }

  .featured-logo img {
    max-height: 55px;
    object-fit: contain;
    display: block;
  }
  .featured-logo:last-child img {
    max-height: 65px;
  }

  @media screen and (max-width: 768px) {
    .featured-logos-heading {
      font-size: 22px;
      margin-bottom: 5px;
    }
    .stack_width_custom {
    padding-left: 0rem;
    padding-right: 0rem;
  }
    .featured-logos-wrapper {
      flex-direction: column;
    }
    .featured-logos-wrapper {
      padding: 10px 0px;
    }

    .featured-logos-list {
        gap: 15px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .featured-logo img {
      max-height: 24px;
    }
    .featured-logo:last-child img {
          max-height: 40px;
    }
  }
</style>
