{% for tag in customer.tags %}
 {% if tag contains "Wholesale" %}
        {% assign wholesaleCustomer = true %}
  {% endif %}
{%  endfor %}

{%  unless wholesaleCustomer %}

<style>

  {%  if template == "index" %}
    div#PageContainer {
        margin-top: 85px;
    }
    @media (min-width: 1050px){
        div#PageContainer {
            margin-top: 95px;
        }
    }
    {%  endif %}
    
.sitwide-sale-announcement {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 12px 0px 10px;
}
  .sitwide-sale-announcement h3 {
    color: #fff;
    font-weight: bold;
    margin: 0px auto;
    font-size: 19px;
    line-height: 1.2em;
}

  @media(min-width:800px){
    .sitwide-sale-announcement h3{
      font-size:22px;
    }
  }
</style>

<div class="sitwide-sale-announcement">
<div class="container">
  <h3>{{ section.settings.text }}</h3>
</div>
</div>
{% endunless %}

{% schema %}
  {
    "name": "Sitewide Sale",
    "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }  
    ],
    "presets": [
      {"name": "TGC - Sitewide Sale"}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}