<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
      <div class="need-support-block">
        <div class="elementor-hedding text-center">
          <h1> {{ section.settings.page-hedding }} </h1>
        </div>
        <div class="grid ">
          {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

          <div class="grid__item small--one-half medium-up--one-quarter">
            <div class="elementor-widget-container">
              <div class="elementor-icon-box-wrapper">
                <div class="elementor-icon-box-icon">
                  <span class="elementor-icon elementor-animation-">                  
                    <img src="{{ block.settings.iconimg  | img_url : "master" }}" alt="" />
                  </span>
                </div>
                <div class="elementor-icon-box-content">
                  <h3 class="elementor-icon-box-title"> <span>{{ block.settings.texts }}</span></h3>                
                </div>
              </div>
            </div>
          </div>
          {% endfor  %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Warranty page",
    "settings": [
    {
    "type":"text",
    "id":"page-hedding",
    "label":" Page Hedding"
    }

  ],

"blocks":[
    {
    "type":"need-Support",
    "name":"need-support",
    "settings": [
    {
    "type":"image_picker",
    "id":"iconimg",
    "label":" Image"
    },

    {
    "type":"text",
    "id":"texts",
    "label":" Support text"
    }

    ]
    }

    ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
