<section class="wholesale-sec"> 
  <div class="page-width"> 
    <div class="wholesale-cnt">
      <iframe title="Wholesale Inquiry form" src="https://docs.google.com/forms/d/e/1FAIpQLSdNyHrO5c5EwCaVm4e91XhH50wmdxlHOQFGMyyZ5LuEMsQ-RA/viewform?embedded=true" width="100%" height="1900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div> 
</section>

{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
