.jr-5050 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.jr-padding {
    padding: 4rem 2rem;
}

.jr-5050.page-width-2:after, 
.jr-5050.page-width-2:before {
  display: none;
}

.jr-5050 .col {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jr-5050 .col.left-aligned {
    align-items: flex-start;
    text-align: left;
}

.jr-5050 .col.right-aligned {
    align-items: flex-end;
    text-align: right;
}

.jr-5050 .col.center-aligned {
    align-items: center;
    text-align: center;
}

.jr-5050.reverse {
    flex-direction: row-reverse;
}

.jr-5050 img {
    max-height: 70vh;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.cta-btn {
    padding: 15px;
    text-align: center;
    background-color: #000000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    display: block;
    letter-spacing: 1px;
    max-width: 400px;
}

.jr-heading-with-icons,
.jr-icon-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jr-icon-links {
    padding: 1rem 0;
    border-top: 1.5px solid lightgray;
    border-bottom: 1.5px solid lightgray;
    margin: 2rem 0;
}

.jr-icon-links .icon-container img {
    max-width: 70px;
    object-fit: cover;
}

.jr .icons-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.jr .icon-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: none;
}

.jr-heading-with-icons.center-aligned {
    align-items: center;
    text-align: center;
}

.jr-heading-with-icons.left-aligned {
    align-items: start;
    text-align: left;
}

.jr-heading-with-icons.right-aligned {
    align-items: end;
    text-align: right;
}

.jr-5050 .col.content-area {
  padding: 3rem;
}


@media screen and (max-width: 768px) {
    .jr-padding {
      padding: 2rem;
    }
    .jr-5050 .col {
      width: 100%;
    }
    .jr-5050 .col.content-area {
      padding: 1rem;
    }
    .jr-5050 .col.content-area h3 {
      margin: 0rem;
    }
    .jr-5050 .col.content-area p {
      margin-bottom: 1rem;
    }
    .jr-5050 {
        gap: 3rem;
    }
    .jr-5050,
    .jr-5050.reverse  {
        flex-direction: column-reverse;
    }
    .jr-5050 img {
        max-height: 50vh;
    }
    .jr-icon-links .icons-container {
        gap: 1rem;
    }
}


@media screen and (max-width: 410px) {
    .ruk_rating_snippet i {
        font-size: 12px !important;
    }
  } 

  /* new blog css */

.page-width:has(.updated-blog-header ) {
    padding-top: 5rem;
}

.updated-blog-header {
    display: flex;
    flex-direction: row;
    border: 1.5px solid black;
}

.updated-blog-header .tag-and-search-container {
    flex: 2;
    border-right: 1.5px solid black;
}

.updated-blog-header .tag-and-search-container .tag-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1rem;
}

.updated-blog-header .tag-and-search-container .tag-item {
    color: black;
    cursor: pointer;
}

.updated-blog-header .tag-and-search-container .tag-item:hover {
    text-decoration: underline;
}

.updated-blog-header .article-head {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 4;
}

.updated-blog-header .tag-and-search-container,
.updated-blog-header .article-head {
    padding: 2rem;
}

.article-search-area {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#submit-article-search {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 2px;
}

.article-head h1 {
    font-weight: 600;
}

.social-sharing-container { 
    width: 100%;
}

.social-sharing-container .social-icons button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
}

.social-sharing-container .social-icons button svg {
    width: 100%;
    height: 100%;
}

.social-sharing-container .social-icons button svg path {
    fill: #3d4246 !important;
}

.social-sharing-container .social-icons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.article-head .tag-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.article-content {
    margin-bottom: 2rem;
}

.article-head .tag-container .article-tag {
    background-color: black;
    color: white;
    padding: 6px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 30px;
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 500;
    line-height: 1;
}

.social-sharing-container {
    margin-bottom: 1rem;
}

.updated-article-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.updated-article-body .article-featured-image img,
.updated-article-body .article-content img  {
    max-width: 60vw;
    max-height: 800px;
    margin: 0 auto;
    padding: 5rem 0;
    object-fit: cover;
    width: 100%;
    height: auto;
    display: flex;
}

.updated-article-body .article-content li {
    margin-top: 1rem;
}

.updated-article-body .article-content h2,
.updated-article-body .article-content h3,
.updated-article-body .article-content h4,
.updated-article-body .article-content h5 {
    margin-top: 1.5`rem;
}

.wp-block-button {
    font-weight: 600;
    color: black !important;
}

.wp-block-button:has(br) {
    display: none;
}

.wp-block-button a:hover {
    text-decoration: underline;
}

.updated-article-body .related-articles-container {
    width: 100%;
}

.updated-article-body .related-article h5 {
    font-weight: 600;
}

.updated-article-body .related-articles-container h2,
.updated-article-body .related-articles-container h3 {
    font-weight: 600;
}

.updated-article-body .related-articles-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin: 2rem 0;

}

.updated-article-body .related-articles {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    overflow: auto;
    gap: 2.5rem;
    padding-bottom: 1.5rem;
}

.updated-article-body .related-article {
    min-width: 25%;
    width: 25%;
    display: flex;
    flex-grow: 1;
    align-self: stretch;    
}

.updated-article-body .related-article a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

.updated-article-body .related-article img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.related-article .placeholder {
    display: block;
    background-color: lightgray;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.related-article h5 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .updated-blog-header {
        flex-direction: column-reverse;
    }
    .updated-blog-header .tag-and-search-container {
        border-right: none;
    }

    .page-width:has(.updated-blog-header) {
        padding-top: 3rem;
    }
    .updated-blog-header .tag-and-search-container,
    .updated-blog-header .article-head {
        padding: 1rem;
    }
    .tag-and-search-container {
        display: none;
    }
    .updated-article-body .article-featured-image img,
    .updated-article-body .article-content img  {
        max-width: 80vw;
        padding: 2rem 0;
    }
    .updated-article-body .related-articles,
    .updated-article-body .related-articles-container {
        gap: 1rem;
    }
}

.updated-blog-body {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.blog-subsection-article-container {
    display: flex;
    gap: 2rem;
    width: 100%;
    overflow: auto;
}

.blog-subsection-article-container .blog-article {
    min-width: 25%;
    max-width: 25%;
}

.blog-subsection-article-container .blog-article:hover a {
    text-decoration: underline;
}
.blog-subsection-article-container .blog-article:hover img {
    transform: scale(1.03);
    opacity: 0.8;
    transition: transform 0.3s ease-in-out; 
}

.blog-subsection-article-container .blog-article a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.blog-subsection-container .blog-article a img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blog-subsection-article-container .blog-article a h3 { 
    margin-top: 2rem;
}

.blog-subsection-article-container .blog-article a h5 {
    margin-top: 1rem;
    font-weight: 600;
}

.blog-subsection-container h2 {
    font-weight: 600;
    font-size: 28px;
}

.blog-subsection-container p {
    margin-bottom: 3rem;
    font-size: 18px;
}
.blog-subsection-container:has(.num-articles-0) {
    display: none;
}

@media screen and (max-width: 768px) {
    .blog-subsection-container h2 {
        font-size: 22px;
    }
    
    .blog-subsection-container p {
        margin-bottom: 2rem;
        font-size: 16px;
    }
}

.hs-footer-layout .monk-protect-app > div {
    margin: 0 auto !important;
}
.hs-footer-layout .hs-drawer-content-checkout {
    row-gap: 0 !important;
}

.hs-footer-layout .monk-protect-app p {
    margin: 5px 0 !important;
}