.jr-5050 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.jr-padding {
    padding: 4rem 2rem;
}

.jr-5050.page-width-2:after, 
.jr-5050.page-width-2:before {
  display: none;
}

.jr-5050 .col {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jr-5050 .col.left-aligned {
    align-items: flex-start;
    text-align: left;
}

.jr-5050 .col.right-aligned {
    align-items: flex-end;
    text-align: right;
}

.jr-5050 .col.center-aligned {
    align-items: center;
    text-align: center;
}

.jr-5050.reverse {
    flex-direction: row-reverse;
}

.jr-5050 img {
    max-height: 70vh;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.cta-btn {
    padding: 15px;
    text-align: center;
    background-color: #000000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    display: block;
    letter-spacing: 1px;
    max-width: 400px;
}

.jr-heading-with-icons,
.jr-icon-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jr-icon-links {
    padding: 1rem 0;
    border-top: 1.5px solid lightgray;
    border-bottom: 1.5px solid lightgray;
    margin: 2rem 0;
}

.jr-icon-links .icon-container img {
    max-width: 70px;
    object-fit: cover;
}

.jr .icons-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.jr .icon-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: none;
}

.jr-heading-with-icons.center-aligned {
    align-items: center;
    text-align: center;
}

.jr-heading-with-icons.left-aligned {
    align-items: start;
    text-align: left;
}

.jr-heading-with-icons.right-aligned {
    align-items: end;
    text-align: right;
}

.jr-5050 .col.content-area {
  padding: 3rem;
}


@media screen and (max-width: 768px) {
    .jr-padding {
      padding: 2rem;
    }
    .jr-5050 .col {
      width: 100%;
    }
    .jr-5050 .col.content-area {
      padding: 1rem;
    }
    .jr-5050 .col.content-area h3 {
      margin: 0rem;
    }
    .jr-5050 .col.content-area p {
      margin-bottom: 1rem;
    }
    .jr-5050 {
        gap: 3rem;
    }
    .jr-5050,
    .jr-5050.reverse  {
        flex-direction: column-reverse;
    }
    .jr-5050 img {
        max-height: 50vh;
    }
    .jr-icon-links .icons-container {
        gap: 1rem;
    }
}


@media screen and (max-width: 410px) {
    .ruk_rating_snippet i {
        font-size: 12px !important;
    }
  } 

  /* new blog css */

.page-width:has(.updated-blog-header ) {
    padding-top: 5rem;
}

.updated-blog-header {
    display: flex;
    flex-direction: row;
    border: 1.5px solid black;
}

.updated-blog-header .tag-and-search-container {
    flex: 2;
    border-right: 1.5px solid black;
}

.updated-blog-header .tag-and-search-container .tag-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1rem;
}

.updated-blog-header .tag-and-search-container .tag-item {
    color: black;
    cursor: pointer;
}

.updated-blog-header .tag-and-search-container .tag-item:hover {
    text-decoration: underline;
}

.updated-blog-header .article-head {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 4;
}

.updated-blog-header .tag-and-search-container,
.updated-blog-header .article-head {
    padding: 2rem;
}

.article-search-area {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#submit-article-search {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 2px;
}

.article-head h1 {
    font-weight: 600;
}

.article-head .social-icons button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
}

.article-head .social-icons button svg {
    width: 100%;
    height: 100%;
}

.article-head .social-icons button svg path {
    fill: #3d4246 !important;
}

.article-head .social-icons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.article-head .tag-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.article-head .tag-container .article-tag {
    background-color: black;
    color: white;
    padding: 6px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 30px;
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 500;
    line-height: 1;
}

.social-sharing-container {
    margin-bottom: 1rem;
}

.updated-article-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.updated-article-body img  {
    max-width: 60vw;
    margin: 0 auto;
    padding: 5rem 0;
    object-fit: cover;
    width: 100%;
    height: auto;
    display: flex;
}

.wp-block-button {
    font-weight: 600;
    color: black !important;
}

.wp-block-button:has(br) {
    display: none;
}

.wp-block-button a:hover {
    text-decoration: underline;
}



@media screen and (max-width: 768px) {
    .updated-blog-header {
        flex-direction: column-reverse;
    }
    .updated-blog-header .tag-and-search-container {
        border-right: none;
    }

    .page-width:has(.updated-blog-header) {
        padding-top: 3rem;
    }
    .updated-blog-header .tag-and-search-container,
    .updated-blog-header .article-head {
        padding: 1rem;
    }
    .tag-and-search-container {
        display: none;
    }
    .updated-article-body img  {
        max-width: 80vw;
        padding: 2rem 0;
    }
}
